@page "/addentry"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using leaderboard.Shared
@using leaderboard.Shared.Createobjects

@inject HttpClient Client
@inject NavigationManager NavManager
@attribute [Authorize]

<div style="width:100%; margin-top: 50px">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h3">Add an entry to the leaderboard</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudForm>
                    <MudAutocomplete 
                        T="Game" Label="Pick or search for Game" 
                        SearchFunc="@SearchGame" ResetValueOnEmptyText="true" CoerceText="true" 
                        CoerceValue="false" ValueChanged="LoadTracks">

                    </MudAutocomplete>
                    <MudAutocomplete Disabled="@(selectedGame == null)"
                        T="Track" Label="Pick or search for Track" @bind-Value="selectedTrack"
                        SearchFunc="@SearchTrack" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false" >

                    </MudAutocomplete>
                    <MudAutocomplete Disabled="@(selectedGame == null)"
                        T="Vehicle" Label="Pick or search for Vehicle" @bind-Value="selectedVehicle"
                        SearchFunc="@SearchVehicle" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">

                    </MudAutocomplete>
                    <MudText class="pa-4 t" Typo="Typo.h4">Time</MudText>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="minutes" Label="Minutes" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="1000" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="seconds" Label="Seconds" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="59" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="thousands" Label="Thousands" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="999" />
                        </MudItem>
                    </MudGrid>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Primary" @onclick="SubmitTime">Submit Time</MudButton>
        </MudCardActions>
        
    </MudCard>
    
</div>

@code {
    private Track selectedTrack;
    private Game selectedGame;
    private Vehicle selectedVehicle;
    private int minutes = 0;
    private int seconds = 0;
    private int thousands = 0;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    async Task LoadTracks(Game arg)
    {
        if(arg is null)
        {
            selectedGame = null;
            return;
        }

        var tracks =  await Client.GetFromJsonAsync<IEnumerable<Track>>($"api/track?gameId={arg.Id}");
        selectedGame = arg;
        selectedGame.Tracks = tracks.ToList();
    }
    
    private async Task<IEnumerable<Game>> SearchGame(string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return await Client.GetFromJsonAsync<IEnumerable<Game>>($"api/game");

        searchString = searchString.ToLower();

        return await Client.GetFromJsonAsync<IEnumerable<Game>>($"api/game?name={searchString}");
        
    }
    private async Task<IEnumerable<Track>> SearchTrack(string searchString)
    {
        if (selectedGame is null)
            return new List<Track>();
        if (string.IsNullOrWhiteSpace(searchString))
            return selectedGame.Tracks.Take(10);



        return selectedGame.Tracks.Where(track => track.Name.ToLower().Contains(searchString.ToLower())).Take(10);
        
    }
    private async Task<IEnumerable<Vehicle>> SearchVehicle(string searchString)
    {
        if (selectedGame is null)
            return new List<Vehicle>();
        if (string.IsNullOrWhiteSpace(searchString))
            return selectedGame.Vehicles;

        return selectedGame.Vehicles.Where(vehicle => vehicle.Name.ToLower().Contains(searchString.ToLower()));
    }

    private async Task SubmitTime()
    {
        if (selectedGame is null
        || selectedTrack is null
        || selectedVehicle is null
        || (minutes == 0 && seconds == 0 && thousands == 0))
            return;


        var authstate = await authenticationStateTask;
        var userpPrins = authstate?.User;

        if(userpPrins is null)
        {
            System.Console.WriteLine("User isn not authenticated");
            return;
        }

        var idClaim = userpPrins.Claims.Where(claim => claim.Type == "DiscordId").FirstOrDefault();
        var nameClaim = userpPrins.Claims.Where(claim => claim.Type == ClaimTypes.Name).FirstOrDefault();

        if(idClaim == default(Claim) || nameClaim == default(Claim))
            return;
        
        User user = new()
        {
            DiscrodId = idClaim.Value,
            Name = nameClaim.Value
        };

        Entry entry = new()
            {
                Game = selectedGame,
                Track = selectedTrack,
                Vehicle= selectedVehicle,
                User = user,
                Minutes = minutes,
                Seconds = seconds,
                Thousands = thousands
            };
        System.Console.WriteLine(user.DiscrodId + " " + user.Name);
        try
        {
            var r = await Client.PostAsJsonAsync("api/entry", entry);
            
            if(r.IsSuccessStatusCode is false)
            {
                var message = await  r.Content.ReadAsStringAsync();
                throw new Exception(message);
            }

            NavManager.NavigateTo("/");
        }
        catch (System.Exception e)
        {
            System.Console.WriteLine("Error when creating entry: \n " + e.Message);

        }
    }
}
