@page "/addentry"
@using Microsoft.AspNetCore.Authorization
@using leaderboard.Shared

@inject HttpClient Client
@attribute [Authorize]

<div style="width:100%; margin-top: 50px">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h3">Add an entry to the leaderboard</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudForm>
                    <MudAutocomplete 
                        T="Game" Label="Pick or search for Game" @bind-Value="selectedGame"
                        SearchFunc="@SearchGame" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">

                    </MudAutocomplete>
                    <MudAutocomplete Disabled="@(selectedGame == null)"
                        T="Track" Label="Pick or search for Track" @bind-Value="selectedTrack"
                        SearchFunc="@SearchTrack" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">

                    </MudAutocomplete>
                    <MudAutocomplete Disabled="@(selectedGame == null)"
                        T="Vehicle" Label="Pick or search for Vehicle" @bind-Value="selectedVehicle"
                        SearchFunc="@SearchVehicle" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">

                    </MudAutocomplete>
                    <MudText class="pa-4 t" Typo="Typo.h4">Time</MudText>
                    <MudGrid>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="minutes" Label="Minutes" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="59" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="seconds" Label="Seconds" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="59" />
                        </MudItem>
                        <MudItem xs="12" sm="6" md="3">
                            <MudNumericField @bind-Value="thousands" Label="Thousands" Variant="Variant.Outlined" HideSpinButtons="true" Min="0" Max="999" />
                        </MudItem>
                    </MudGrid>
            </MudForm>
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Primary" @onclick="SubmitTime">Submit Time</MudButton>
        </MudCardActions>
        
    </MudCard>
    
</div>

@code {
    private IEnumerable<Game> games;
    private Track selectedTrack;
    private Game selectedGame;
    private Vehicle selectedVehicle;
    private int minutes = 0;
    private int seconds = 0;
    private int thousands = 0;


    private bool isLoading = true;

    //protected override async Task OnInitializedAsync()
    //{
    //    games  = await Client.GetFromJsonAsync<IEnumerable<Game>>("api/game");

    //    isLoading = false;
    //}

    private async Task<IEnumerable<Game>> SearchGame(string searchString)
    {
        if(games is null)
            games = await Client.GetFromJsonAsync<IEnumerable<Game>>($"api/game");
        if (string.IsNullOrWhiteSpace(searchString))
            return games;

        searchString = searchString.ToLower();

        Console.WriteLine("Got: " + games.Count());
        if (games is null)
            return new List<Game>();


        var matched = games.Where(game => game.Name.ToLower().Contains(searchString));
        Console.WriteLine("Matches: " + matched.Count());

        return matched; 
    }
    private async Task<IEnumerable<Track>> SearchTrack(string searchString)
    {
        if (selectedGame is null)
            return new List<Track>();
        if (string.IsNullOrWhiteSpace(searchString))
            return selectedGame.Tracks;

        return selectedGame.Tracks.Where(track => track.Name.ToLower().Contains(searchString.ToLower()));
    }
    private async Task<IEnumerable<Vehicle>> SearchVehicle(string searchString)
    {
        if (selectedGame is null)
            return new List<Vehicle>();
        if (string.IsNullOrWhiteSpace(searchString))
            return selectedGame.Vehicles;

        return selectedGame.Vehicles.Where(vehicle => vehicle.Name.ToLower().Contains(searchString.ToLower()));
    }

    private void SubmitTime()
    {
        
    }
}
