@page "/"
@using leaderboard.Shared
@using Microsoft.AspNetCore.Authorization
@using leaderboard.Shared.RetrieveObjects
@inject HttpClient Client
<h1>
            Welcome!
</h1>
<AuthorizeView>
        <MudButton Color="Color.Primary" Link="/addentry">Add an entry.</MudButton>
</AuthorizeView>

 <MudGrid>
         <MudItem xs="12" sm="6" md="4">
                <MudAutocomplete md =
                        T="Track" Label="Pick or search for Game" @bind-Value="track"
                        SearchFunc="@SearchTrack" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">
                </MudAutocomplete>

         </MudItem>
 </MudGrid>


@if(entries is not null)
{

@* <MudTable Items="@entries" Hover="true">
        <HeaderContent>
                <MudTh>#</MudTh>
                <MudTh>UserName</MudTh>
                <MudTh>Time</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd DataLabel="#">@context.Rank</MudTd>
                <MudTd DataLabel="UserName">@context.User.UserName</MudTd>
                <MudTd DataLabel="Time">@(context.Minutes):@(context.Seconds).@(context.Thousands)</MudTd>
        </RowTemplate>
</MudTable> *@
}

@code{
        IEnumerable<Entry> entries;
        IEnumerable<Track> tracks;
        Track track;
        bool loading = true;

         async Task<IEnumerable<Track>> SearchTrack(string searchString)
        {
                if(tracks is null)
                {
                        tracks = await Client.GetFromJsonAsync<IEnumerable<Track>>("api/track");
                        return tracks;
                }

                if(string.IsNullOrWhiteSpace(searchString))
                        return tracks;
                
                return tracks.Where(track => track.Name.ToLower().Contains(searchString));
        
        }

        @* private async Task GetEntries()
        {
                if(entries is not null)
                        return;
                entries = await Client.GetFromJsonAsync<IEnumerable<Entry>>($"api/entry/{track.Id}");
        } *@
         

}