@page "/"
@using leaderboard.Shared
@using Microsoft.AspNetCore.Authorization
@using leaderboard.Shared.RetrieveObjects
@inject HttpClient Client
<h1>
            Welcome!
</h1>
<AuthorizeView>
        
        <MudButton Color="Color.Primary" Link="/addentry">Add an entry.</MudButton>
</AuthorizeView>


<MudTable Items="@entries" Hover="true" Loading="@loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
                <MudTh>#</MudTh>
                <MudTh>UserName</MudTh>
                <MudTh>Time</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd DataLabel="#">@context.Rank</MudTd>
                <MudTd DataLabel="UserName">@context.User.UserName</MudTd>
                <MudTd DataLabel="Time">@(context.Minutes):@(context.Seconds).@(context.Thousands)</MudTd>
        </RowTemplate>
</MudTable>

@code{
        IEnumerable<Entry> entries = new List<Entry>(0);
        bool loading = true;
         protected override async Task OnInitializedAsync()
         {
                entries = await Client.GetFromJsonAsync<IEnumerable<Entry>>("api/entry");
                loading = false;
         }

         

}