@page "/"
@using leaderboard.Shared
@using Microsoft.AspNetCore.Authorization
@using leaderboard.Shared.RetrieveObjects
@inject HttpClient Client
<h1>
            Welcome!
</h1>
<AuthorizeView>
        <MudButton Color="Color.Primary" Link="/addentry">Add an entry.</MudButton>
</AuthorizeView>

 <MudGrid>
         <MudItem xs="12" sm="6" md="4">
                <MudAutocomplete
                        T="Track" Label="Pick or search for Game" @bind-Value="track"
                        SearchFunc="@SearchTrack" ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="false">
                </MudAutocomplete>
         </MudItem>
         <MudButton xs="4" sm="2" md="2" OnClick="SetLeadeboard">Get Leaderboard</MudButton>
 </MudGrid>

<MudTable Items="entries" Hover="true">
        <HeaderContent>
                <MudTh>Nr</MudTh>
                <MudTh>Car</MudTh>
                <MudTh>Time</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Diff</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTh>@context.Rank</MudTh>
                <MudTh>@context.Vehicle.Name</MudTh>
                <MudTh>@($"{context.Minutes}:{context.Seconds}:{context.Thousands}")</MudTh>
                <MudTh>@context.User.UserName</MudTh>
                <MudTh HideSmall="true">@GetDiff(context)</MudTh>
        </RowTemplate>
</MudTable>

@if(entries is not null)
{

@* <MudTable Items="@entries" Hover="true">
        <HeaderContent>
                <MudTh>#</MudTh>
                <MudTh>UserName</MudTh>
                <MudTh>Time</MudTh>
        </HeaderContent>
        <RowTemplate>
                <MudTd DataLabel="#">@context.Rank</MudTd>
                <MudTd DataLabel="UserName">@context.User.UserName</MudTd>
                <MudTd DataLabel="Time">@(context.Minutes):@(context.Seconds).@(context.Thousands)</MudTd>
        </RowTemplate>
</MudTable> *@
}

@code{
        IEnumerable<Entry> entries;
        TimeSpan fastest;
        IEnumerable<Track> tracks;
        Track track;
        bool loading = true;

        private string GetDiff(Entry entry)
        {
                var time = new TimeSpan(0,0,entry.Minutes,entry.Seconds,entry.Thousands);

                var diff = fastest - time;

                if(diff.TotalSeconds == 0)
                        return string.Empty;
                
                return $"{diff.TotalSeconds}";
        }
         async Task<IEnumerable<Track>> SearchTrack(string searchString)
        {
                if(tracks == null)
                {
                        tracks = await Client.GetFromJsonAsync<IEnumerable<Track>>("api/track");
                        return tracks;
                }

                if(string.IsNullOrWhiteSpace(searchString))
                        return tracks;
                
                return tracks.Where(track => track.Name.ToLower().Contains(searchString));
        }

        private async Task SetLeadeboard()
        {
                if(track is null)
                        return;
                entries = await Client.GetFromJsonAsync<IEnumerable<Entry>>($"api/entry/{track.Id}");
                
                
                fastest = new TimeSpan(0, 0, entries.First().Minutes,entries.First().Seconds, entries.First().Thousands);        
        }

        @* private async Task GetEntries()
        {
                if(entries is not null)
                        return;
                entries = await Client.GetFromJsonAsync<IEnumerable<Entry>>($"api/entry/{track.Id}");
        } *@
         

}